<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @project.code %>
</p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Series:</strong>
  <%= @project.series %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @project.isbn %>
</p>

<p>
  <strong>Copyright:</strong>
  <%= @project.copyright %>
</p>

<p>
  <strong>Number:</strong>
  <%= @project.number %>
</p>

<p>
  <strong>Author:</strong>
  <%= @project.author %>
</p>

<p>
  <strong>Level:</strong>
  <%= @project.level %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @project.edition %>
</p>

<p>
  <strong>Acronym:</strong>
  <%= @project.acronym %>
</p>

<p>
  <strong>Product type:</strong>
  <%= @project.product_type %>
</p>

<p>
  <strong>Imprint:</strong>
  <%= @project.imprint %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @project.budget %>
</p>

<p>
  <strong>Image assets:</strong>
  <%= @project.image_assets %>
</p>

<p>
  <strong>Media assets:</strong>
  <%= @project.media_assets %>
</p>

<p>
  <strong>Text assets:</strong>
  <%= @project.text_assets %>
</p>

<p>
  <strong>Start:</strong>
  <%= @project.start %>
</p>

<p>
  <strong>Revised start:</strong>
  <%= @project.revised_start %>
</p>

<p>
  <strong>Close:</strong>
  <%= @project.close %>
</p>

<p>
  <strong>Revised close:</strong>
  <%= @project.revised_close %>
</p>

<p>
  <strong>Printer:</strong>
  <%= @project.printer %>
</p>

<p>
  <strong>Revised printer:</strong>
  <%= @project.revised_printer %>
</p>

<p>
  <strong>Color:</strong>
  <%= @project.color %>
</p>

<p>
  <strong>Print run:</strong>
  <%= @project.print_run %>
</p>

<p>
  <strong>Trim size:</strong>
  <%= @project.trim_size %>
</p>

<p>
  <strong>Price:</strong>
  <%= @project.price %>
</p>

<p>
  <strong>Free text:</strong>
  <%= @project.free_text %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
